@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

body {
    background: url('images/glitter7.jpg');
    display: block;
    margin:0;
}

footer{
    height: 50px;
}

h1,
h3 {
    display: block;
    text-align: center;
    font-family: 'Cardo', serif;
    line-height: 90%;
    color: #CC9900;
}

h2 {
    display: block;
    text-align: center;  
    font-family: 'Dancing Script', cursive; 
    font-size: 50px;
    line-height: 90%;    
    color: #CC9900;
}

.grid {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.imageOne {
	background: url("images/1.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.imageTwo {
	background: url("images/2.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.imageThree {
	background: url("images/3.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;

}

.imageFour {
	background: url("images/4.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.imageFive {
	background: url("images/5.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.imageSix {
	background: url("images/6.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.imageSeven {
	background: url("images/7.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left; 
}

.imageEight {
	background: url("images/8.jpg");
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 170px 170px; 
	width: 15%;
	height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

.card {
	background: url("images/logo.jpg");
    width: 15%;
    height:95px;
    padding:20px;
    margin-top:7.5px; 
    margin-bottom:7.5px;
    margin-left:15px;
    float:left;
}

#resetButton {
    font-family: 'Dancing Script', cursive;
    margin: 0 auto;
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #CC9900;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
}
